@import "tailwindcss";

/* Profile card */

@keyframes glowing-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.glow-border {
  position: relative;
  z-index: 0;
}

.glow-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #10b981, #34d399, #10b981);
  background-size: 400% 400%;
  border-radius: 1rem;
  z-index: -1;
  animation: glowing-border 4s linear infinite;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

body{
  font-size: "Inter", sans-serif;
}